
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #titleMain {
        font-size: 20px;
    }

</style>

@section header{
    <div id="titleMain" style="color:#EB144C">
        <img alt="" src="~/Assets/images/home.jpg" width="60px" height="45px">&nbsp;Trang Chủ
    </div>
    
}
<img src="~/Assets/images/anhnen.jpg" alt="" width=1200px" height="500px">
